body{
    background-image: url(clockbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    margin: 0;
}
#d1{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#d2{
    font-family:'Times New Roman', Times, serif;
    font-size: 10em;
    text-align: center;
    color: aliceblue;
}